name: Pre-commit Cache Warm-up

on:
  push:
    branches:
      - main
      - master
    paths:
      - .pre-commit-config.yaml
  workflow_dispatch:

jobs:
  warm-pre-commit-cache:
    uses: leinardi/gh-reusable-workflows/.github/workflows/pre-commit-warmup.yaml@v1
